.App {
  max-width: 400px;
  margin: 50px auto;
  height: 500px;
  font-family: "Playfair Display", serif;
}

h6 {
  text-align: center;
  padding-bottom: 100px;
}

a:link {
  text-decoration: none;
}
