.Weather {
  border: 1px solid black;
  border-radius: 5px;
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather .Condition {
  margin-top: 200px;
  margin-left: 20px;
  margin-bottom: 100px;
  margin-right: 20px;
}

.Weather .City {
  margin-left: 20px;
  margin-top: 20px;
}

.Weather form {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Weather .Temp {
  font-size: 36px;
}

.Weather .Desc {
  font-size: 24px;
  padding-left: 30px;
  padding-top: 10px;
}

.Temp,
.Wind,
.Humidity {
  padding-left: 30px;
}

.Weather .CityName {
  font-size: 40px;
}

.Weather .Time,
.Wind,
.Humidity {
  font-size: 18px;
}
